@use "../../styles/var" as *;
@use "../../styles/common" as *;


/* page.module.scss */

.main {
    background: #f7f8f6;
    overflow: hidden;
}


/* HERO */

.hero {
    padding: 100px 0;
    background: white;

    @media(max-width:$xl) {
        padding: 70px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 80px;
        align-items: center;

        @media (max-width: $xl) {
            grid-template-columns: 1fr;
            gap: 40px;

        }
    }



    .chart {
        .image {
            width: 100%;
            height: auto;
        }

    }
}

.heroContent {
    @media (max-width: $md) {
        text-align: center;
    }

    h1 {
        font-size: 72px;
        line-height: 1.1;
        margin-bottom: 25px;
        color: #111827;
        font-weight: 800;

        span {
            color: $primary;
        }

        @media (max-width: $md) {
            font-size: 52px;

        }

        @media (max-width: $sm) {
            font-size: 42px;

        }
    }

    p {
        font-size: 18px;
        line-height: 1.8;
        color: #6b7280;
        max-width: 550px;
    }
}



/* INCLUDED PACKAGE */

.IncludedPackage {
    padding: 100px 0;
    background: white;

    @media(max-width:$xl) {
        padding: 70px 0;
    }

    @media(max-width:$lg) {
        padding: 50px 0;
    }
}

.featureGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    @media (max-width: $xl) {

        grid-template-columns: repeat(2, 1fr);

    }

    @media (max-width: $sm) {

        grid-template-columns: repeat(1, 1fr);

    }
}

.featureCard {
    background: #f7f8f6;
    padding: 35px;
    border-radius: 24px;
    transition: 0.3s;

    &:hover {
        transform: translateY(-8px);
    }

    h3 {
        margin: 22px 0 14px;
        font-size: 24px;
    }

    p {
        color: #6b7280;
        line-height: 1.8;
    }
}

.featureIcon {
    width: 68px;
    height: 68px;
    border-radius: 20px;
    background: rgba(15, 138, 75, 0.1);
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}







/* RESPONSIVE */


@media (max-width: $md) {

    .hero {

        grid-template-columns: 1fr;
    }

    .hero {
        padding-top: 70px;
    }

    .heroButtons {
        flex-direction: column;
    }
}