@use '../styles/var' as *;

body {
    font-family: $font_one;
}

.main {
    padding-top: 80px;

    @media(max-width:$md) {
        padding-top: 40px;
    }
}

/* SECTION COMMON */

.sectionHeading {
    text-align: center;
    margin-bottom: 60px;

    @media(max-width:$md) {

        margin-bottom: 40px;


    }

    h2 {
        font-size: 42px;
        font-weight: 700;
        color: $color_four;
        margin-bottom: 12px;

        @media(max-width:$xl) {

            font-size: 34px;

        }


    }

    p {
        color: $color_three;
        font-size: 16px;
        max-width: 650px;
        margin: auto;
        line-height: 1.7;
    }
}

.primaryBtn,
.secondaryBtn {
    height: 56px;
    padding: 0 28px;
    border-radius: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.primaryBtn {
    background: $primary;
    color: white;

    &:hover {
        background: #0b6a39;
    }
}

.secondaryBtn {
    background: white;
    border: 1px solid #d1d5db;

    &:hover {
        background: #f3f4f6;
    }
}

.heroButtons {
    display: flex;
    gap: 20px;
    margin-top: 35px;
}